<div class="navbar navbar-app navbar-absolute-top app-header custom-bet-slip-group custom-bet-success-group">
  <div class="container custom-top-bet-bg">
        <div class="row">
          <div class="col-xs-3 custom-padding">
            <div class="custom-back-racing">
                <a  ui-sref="app.main.home" ><img src="images/buttons/closebtn.png" /></a>
            </div>
          </div>

          <div class="col-xs-6 custom-padding">
            <div class="custom-bet-title" ui-yield-to="title">Bet Slip</div>
          </div>
          <div class="col-xs-3 custom-padding">
            <div class="custom-step-list">
                <a><img src="images/buttons/step3.png" /></a>
            </div>
          </div>
        </div>
    </div>
    <div class="container custom-singles-bet-group">
         <div class="row">
                <div class="custom-singles-bet">
                    <p>Available Balance: {{loggedInUserDetail.wallet.availableFunds | currency}}</p>
                </div>
        </div>
    </div>
</div>

<div class="scrollable-content section custom-bet-success-group">
    <!-- <div class="container custom-singles-bet-group" ng-show="bets>0">
         <div class="row">
                <div class="custom-singles-bet-mess">
                    <p><img src="images/buttons/right.png" /> Successful!</p>
                </div>
        </div>
    </div> -->
    <div class="container custom-singles-bet-group" ng-show="bets>0">
         <div class="row">
                <div class="custom-singles-bet">
                    <p>Singles</p>
                </div>
        </div>
    </div>
    <div ng-repeat="data in betsSuccessData">   
        <div class="list-group custom-park">
            <div class="container list-group-item">
                <div class="row">
                    <div class="col-xs-2 custom-col-padding">
                        <div class="custom-singles-bet-mess">
                            <span class="custom-close-btn"><img ng-show="data.wager.status.key=='S'" src="images/buttons/right.png"/><img ng-show="data.wager.status.key=='F'"src="images/buttons/close.png"/></span> 
                        </div>
                    </div>
                    <div class="col-xs-6 custom-col-padding">
                        <div class="custom-ellipsis"><p class="custom-name-field"><span>{{data.rugNumber}} {{data.runnerName}}</span><span>{{data.venue}}-R{{data.raceNumber}}</span></p></div>
                    </div>
                    <div class="col-xs-4 custom-col-padding">
                        <p class="custom-time"><span>Odds</span><span>{{data.odds}}</span></p>
                    </div>      
                </div>
            </div> 
            <div class="custom-place container">
                <div class="custom-header-scroll row">
                <div class="col-xs-6 custom-col-padding">
                    <button class="custom-place-btn">{{data.type}} / {{data.subtype ?data.subtype :data.betSubType[0]}}</button>
                </div>
                <div class="col-xs-6 custom-col-padding">
                    <div class="custom-cal">
                       <p><span>Bet: </span><span>{{data.value | currency}}</span></p>
                       <p><span>Est. Returns: </span><span>{{data.value * data.odds | currency}}</span></p>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-app navbar-absolute-bottom app-footer custom-bet-slip-group-bottom">
        <div class="container custom-bet-bottom">
          <div class="row">
              <div class="col-xs-6 custom-col-padding">
              </div>
              <div class="col-xs-6 custom-col-padding">
                  <p class="custom-bet-time-btn">
                  <button class="custom-bet-btn">Pending Bet<span>{{totalbetsSucces}}</span></button></p>
              </div>
          </div>
        </div>
    </div>
</div>



