<div class="custom-bet-modals-group">
   	<div class="custom-bet-popup">
   	<button ng-click="close()">Done</button>
     <div class="container list-group-item">
                <div class="row">
                    <div class="col-xs-6 custom-col-padding ">
                    <div ng-repeat="(key, value) in betSlipRunnerData" ng-click="betSlipRunnerSelected(key)">
                        <span >{{key}}</span>
                        </div>
                    </div>
                    <div class="col-xs-6 custom-col-padding" >
                        <div class="custom-ellipsis" ng-repeat="(key, value) in SelecetdData" ng-click="singleBetSlipSelected(key)">
                        <span>{{key}}</span>
                        </div>
                    </div>
                </div>
            </div> 
      </div>  
</div>




