<div class="navbar navbar-app navbar-absolute-top app-header custom-bet-slip-group">
  <div class="container custom-top-bet-bg">
        <div class="row">
          <div class="col-xs-3 custom-padding">
            <div class="custom-back-racing">
                <a ng-click="goBack()" ><img src="images/buttons/hide.png" /></a>
            </div>
          </div>

          <div class="col-xs-6 custom-padding">
            <div class="custom-bet-title" ui-yield-to="title">Bet Slip</div>
          </div>
          <div class="col-xs-3 custom-padding">
            <div class="custom-step-list">
                <a><img src="images/buttons/step1.png" /></a>
            </div>
          </div>
        </div>
    </div> 
</div>
<div class="scrollable-content section custom-bet-slip-group" ng-init="init()" ng-show="bets>0">
    <p class="custom-bet-mess" ng-show="bets<=0"> You have no selection in your Bet Slip</p>
    <div class="container custom-singles-bet-group" ng-show="bets>0">
        <div class="row">
            <div class="custom-singles-bet">
                <p>Singles</p>
            </div>
        </div>
    </div>
    <div ng-repeat="data in betSlipDataFromLocalStorage">   
        <div class="list-group custom-park">
            <div class="container list-group-item">
                <div class="row">
                    <div class="col-xs-2 custom-col-padding">
                        <div class="custom-name-group" ng-click="removeBetSlipItem($index)">
                            <span class="custom-close-btn"><img src="images/buttons/close.png" /></span> 
                        </div>
                    </div>
                    <div class="col-xs-6 custom-col-padding">
                        <div class="custom-ellipsis"><p class="custom-name-field"><span>{{data.rugNumber}} {{data.runnerName}}</span><span>{{data.venue}}-R{{data.raceNumber}}</span></p></div>
                    </div>
                    <div class="col-xs-4 custom-col-padding">
                        <p class="custom-time"><span>Odds</span><span>{{data.odds}}</span></p>
                        <i class="fa fa-chevron-right pull-right" ui-sref="app.singlebet({singlebet:data})"></i>
                    </div>      
                </div>
            </div> 
            <div class="container custom-place">
                <div class="row">
                    <div class="col-xs-6 custom-col-padding">
                       
                       <!--  <select ng-init="type = data.betType[0]" ng-model="type" ng-options="type as type for type in data.betType" ng-click="test(data)">
                          <i class="fa fa-chevron-down pull-right"></i>
                        </select> -->

                         <select ng-init="initialiseType(data)" ng-model="data.type" ng-options="type as type for type in data.betType" ng-change="changeBetType(data)">
                          <i class="fa fa-chevron-down pull-right"></i>
                        </select>
                        
                    </div>
                    <div class="col-xs-6 custom-col-padding">
                        <div class="custom-cal">
                        <button ng-click="betMinusValue(data)">-</button>
                        <input type="text" ng-model="data.value">
                        <button ng-click="betPlusValue(data)">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container custom-place">
                <div class="row">
                <div class="col-xs-6 custom-col-padding">
                      
                        <select ng-init="subtype = data.betSubType[0]" ng-model="subtype" ng-options="subtype as subtype for subtype in data.betSubType" ng-change="changeBetSubType(data)">
                          <i class="fa fa-chevron-down pull-right"></i>
                        </select>

                        <!-- <select ng-init="initialiseSubType(data)" ng-model="data.subtype" ng-options="subtype as subtype for subtype in data.betSubType">
                          <i class="fa fa-chevron-down pull-right"></i>
                        </select> -->
                    </div>
                    <div class="col-xs-6 custom-col-padding">
                        <div class="custom-earn">
                        <p>Est.Return: <span ng-init="data.betitemtotal='0.0'">{{data.betitemtotal | currency}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <div class="container custom-singles-bet-group" ng-show="bets>0">
        <div class="row">
            <div class="custom-singles-bet">
                <p>Exotics</p>
            </div>
        </div>
    </div>
    <div ng-repeat="data in exoticsBetsData ">   
   
        <div class="list-group custom-park">
            <div class="container list-group-item">
                <div class="row">
                    <div class="col-xs-2 custom-col-padding">
                        <div class="custom-name-group" ng-click="removeBetSlipItem($index, data.bets.exoticname)">
                            <span class="custom-close-btn"><img src="images/buttons/close.png" /></span> 
                        </div>
                    </div>
                    <div class="col-xs-6 custom-col-padding">
                        <div class="custom-ellipsis">
                            <p class="custom-name-field">
                            <span>{{data.bets.exoticname}}</span>
                            <span>{{data.bets.venue +" R"+data.bets.raceNumber}}</span> 
                            <div class="bet-cols"> 1st : <span ng-repeat="cols1 in data.bets.c1">{{cols1}}, </span> 2nd: <span ng-repeat="cols2 in data.bets.c2"> {{cols2}}, </span></div>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-4 custom-col-padding">
                        <i class="fa fa-chevron-right pull-right" ui-sref="app.singlebet({singlebet:data})"></i>
                    </div>      
                </div>
            </div> 
            <div class="container custom-place">
                <div class="row">
                    <div class="col-xs-12 custom-col-padding">
                        <div class="custom-cal custom-cal-exotic">
                            <p>
                            <span>Bet:</span>
                            <span>
                                <button ng-click="betMinusValue(data)">-</button>
                                <input type="text" ng-model="data.value">
                                <button ng-click="betPlusValue(data)">+</button>
                            </span>
                            </p>
                            <p>
                            <span>Percentage (flexi)</span>
                            <span>
                                <button ng-click="betMinusValue(data)">-</button>
                                <input type="text" ng-model="data.value">
                                <button ng-click="betPlusValue(data)">+</button>
                            </span>
                            </p>
                            <p>
                                <span>Combos:</span>
                                <span>{{data.bets.combinations}}</span>  
                            </p>
                            <p>
                                <span>Bet per Combo:</span>
                                <span>$22</span>  
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container custom-singles-bet-group" ng-show="bets>0">
        <div class="row">
            <div class="custom-singles-bet">
                <p>Multibets</p>
            </div>
        </div>
    </div>
  
 <div class="container betslip-bottom-btn">
        <div class="row">
            <div class="col-xs-12 custom-col-padding">
                <p>Please add more bet in your bet slip multibet mode <i class="fa fa-chevron-right pull-right"></i></p>
            </div>
        </div>
        <div class="row" ng-show="bets>0">
            <div class="col-xs-12 custom-col-padding">
                <button class="custom-clear-bet-btn" type="submit" ng-click="removeBets()">Clear Bet slip</button>
            </div>
        </div>         
    </div>

<div class="navbar navbar-app navbar-absolute-bottom app-footer custom-bet-slip-group-bottom">
    <div class="container custom-bet-bottom">
        <div class="row">
            <div class="col-xs-6 custom-col-padding">
                <p class="custom-bet-time"><span>MY BET:{{betTotalValue | currency}}</span><span>Est.Return: {{betEstimateTotalValue | currency}}</span></p>
            </div>
            <div class="col-xs-6 custom-col-padding">
                <p class="custom-bet-time-btn">
                <button class="custom-bet-btn" ng-click="bet()">Bet</button></p>
            </div>
        </div>
    </div>
</div>



