<div class="scrollable-content section racing-home-view custom-multi-details-group" ng-init="init()">
        <!-- multi legs details page daily double -->

    <!--  **************************** Two(2) Tabs Div *****************************************-->
    <div class="custom-multi-daily-double" ng-show="racingData.pool.type == 'DD' || racingData.pool.type == 'XD' || racingData.pool.type == 'RD'">    
        <div class="section-header-group">
            <div class="section-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="custom-back-racing">
                                <a  ng-click="goBack()">
                                    <img src="images/buttons/a4.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="section-heading">
                                <h2>{{ racingData.pool.type | displaypooltype}}</h2>
                            </div>
                        </div>
                        <div class="col-xs-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-multi-legs-d-group" ui-state="activeTab" default="1">
            <ul class="nav nav-tabs">
                <li ui-class="{'active': activeTab == 1}">
                    <a ui-set="{'activeTab': 1}">Leg 1 <span>(Race {{racingData.legs[0].raceNumber}})</span></a>
                </li>
                <li ui-class="{'active': activeTab == 2}">
                    <a ui-set="{'activeTab': 2}">Leg 2 <span>(Race {{racingData.legs[1].raceNumber}})</a>
                </li>
            </ul>
        <div class="custom-multi-head">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <p>{{racingData.legs[0].venue}}<span>{{racingData.legs[0].title}}</span></p>
                    </div>
                    <div class="col-xs-4">
                        <p class="custom-multi-status">{{racingData.pool.status}}</p>
                    </div>
                </div>
            </div>
        </div>    
        <div ui-if="activeTab == 1" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">

                                    
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[0].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[0].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 2" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[1].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                          <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[1].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[1].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>  
           
        </div>
    </div>
    <!-- multi legs details page Treble -->
    <!--  **************************** Three(3) Tabs Div *****************************************-->
    <div class="custom-multi-Treble"  ng-show="racingData.pool.type == 'TT'">    
        <div class="section-header-group">
            <div class="section-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="custom-back-racing">
                                <a  ng-click="goBack()">
                                    <img src="images/buttons/a4.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="section-heading">
                                <h2>{{ racingData.pool.type | displaypooltype}}</h2>
                            </div>
                        </div>
                        <div class="col-xs-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-multi-legs-d-group" ui-state="activeTab" default="1">
        <ul class="nav nav-tabs">
                <li ui-class="{'active': activeTab == 1}">
                    <a ui-set="{'activeTab': 1}">Leg 1 <span>(Race {{racingData.legs[0].raceNumber}})</span></a>
                </li>
                <li ui-class="{'active': activeTab == 2}">
                    <a ui-set="{'activeTab': 2}">Leg 2 <span>(Race {{racingData.legs[1].raceNumber}})</a>
                </li>
                <li ui-class="{'active': activeTab == 3}">
                    <a ui-set="{'activeTab': 3}">Leg 3 <span>(Race {{racingData.legs[2].raceNumber}})</a>
                </li>
            </ul>
            
        </div>    
        <div class="custom-multi-head">
            <div class="container">
                <div class="row">
                <div class="col-xs-8">
                        <p>{{racingData.legs[0].venue}}<span>{{racingData.legs[0].title}}</span></p>
                    </div>
                    <div class="col-xs-4">
                        <p class="custom-multi-status">{{racingData.pool.status}}</p>
                    </div>
                </div>
            </div>
        </div>    
            
            
            <div ui-if="activeTab == 1" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[0].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[0].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 2" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[1].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[1].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 3" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[2].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[2].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <!-- multi legs details page quadrella -->
    <!--  **************************** Four(4) Tabs Div *****************************************-->
    <div class="custom-multi-quadrella"  ng-show="racingData.pool.type == 'QD'">    
        <div class="section-header-group">
            <div class="section-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="custom-back-racing">
                                <a  ng-click="goBack()">
                                    <img src="images/buttons/a4.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="section-heading">
                                <h2>{{racingData.pool.type | displaypooltype}}</h2>
                            </div>
                        </div>
                        <div class="col-xs-3">
                        <!--     <div class="custom-video-racing">
                                <img src="images/buttons/a6.png" />
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-multi-legs-d-group" ui-state="activeTab" default="1">
            <ul class="nav nav-tabs">
                 <li ui-class="{'active': activeTab == 1}">
                    <a ui-set="{'activeTab': 1}">Leg 1 <span>(Race {{racingData.legs[0].raceNumber}})</span></a>
                </li>
                <li ui-class="{'active': activeTab == 2}">
                    <a ui-set="{'activeTab': 2}">Leg 2 <span>(Race {{racingData.legs[1].raceNumber}})</a>
                </li>
                <li ui-class="{'active': activeTab == 3}">
                    <a ui-set="{'activeTab': 3}">Leg 3 <span>(Race {{racingData.legs[2].raceNumber}})</a>
                </li>
                <li ui-class="{'active': activeTab == 4}">
                    <a ui-set="{'activeTab': 4}">Leg 4 <span>(Race {{racingData.legs[3].raceNumber}})</a>
                </li>
            </ul>
        </div>    
        <div class="custom-multi-head">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <p>{{racingData.legs[0].venue}}<span>{{racingData.legs[0].title}}</span></p>
                    </div>
                    <div class="col-xs-4">
                        <p class="custom-multi-status">{{racingData.pool.status}}</p>
                    </div>
                </div>
            </div>
        </div>    
            <div ui-if="activeTab == 1" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[0].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[0].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 2" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[1].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[1].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 3" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[2].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[2].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 4" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[3].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[3].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- multi legs details page BG6 -->
    <!--  **************************** Six(6) Tabs Div *****************************************-->
    <div class="custom-multi-BG6"  ng-show="racingData.pool.type == 'BG6'">    
        <div class="section-header-group">
            <div class="section-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="custom-back-racing">
                                <a  ng-click="goBack()">
                                    <img src="images/buttons/a4.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="section-heading">
                                <h2>{{ racingData.pool.type | displaypooltype}}</h2>
                            </div>
                        </div>
                        <div class="col-xs-3">
                        <!--     <div class="custom-video-racing">
                                <img src="images/buttons/a6.png" />
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-multi-legs-d-group" ui-state="activeTab" default="1">
            <ul class="nav nav-tabs">
                 <li ui-class="{'active': activeTab == 1}">
                    <a ui-set="{'activeTab': 1}">Leg 1 <span>(Race {{racingData.legs[0].raceNumber}})</span></a>
                </li>
                <li ui-class="{'active': activeTab == 2}">
                    <a ui-set="{'activeTab': 2}">Leg 2 <span>(Race {{racingData.legs[1].raceNumber}})</a>
                </li>
                <li ui-class="{'active': activeTab == 3}">
                    <a ui-set="{'activeTab': 3}">Leg 3 <span>(Race {{racingData.legs[2].raceNumber}})</a>
                </li>
                <li ui-class="{'active': activeTab == 4}">
                    <a ui-set="{'activeTab': 4}">Leg 4 <span>(Race {{racingData.legs[3].raceNumber}})</a>
                </li>
                <li ui-class="{'active': activeTab == 5}">
                    <a ui-set="{'activeTab': 5}">Leg 5 <span>(Race {{racingData.legs[4].raceNumber}})</a>
                </li>
                <li ui-class="{'active': activeTab == 6}">
                    <a ui-set="{'activeTab': 6}">Leg 6 <span>(Race {{racingData.legs[5].raceNumber}})</a>
                </li>
            </ul>
        </div>    
        <div class="custom-multi-head">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8">
                        <p>{{racingData.legs[0].venue}}<span>{{racingData.legs[0].title}}</span></p>
                    </div>
                    <div class="col-xs-4">
                        <p class="custom-multi-status">{{racingData.pool.status}}</p>
                    </div>
                </div>
            </div>
        </div>    
            <div ui-if="activeTab == 1" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[0].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[0].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 2" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[1].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[1].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 3" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[2].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[2].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 4" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[3].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[3].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 5" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[4].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[4].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div ui-if="activeTab == 6" >
                <div class="list-group custom-daily-results">
                    <ul>
                        <li ng-repeat="entrant in racingData.entrants[racingData.legs[0].id]">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>J: {{entrant.riderName}} W: {{entrant.weightHandicap}} KG</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col">
                                         <p class="custom-data"><span>{{racingData.odds[racingData.refPools[racingData.legs[5].id].id][entrant.id].odds ? (racingData.odds[racingData.refPools[racingData.legs[5].id].id][entrant.id].odds/100).toFixed(2) : 'NA'}}<span></p>
                                    </div>
                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

