<div class="scrollable-content section racing-home-view" ng-init="init()">
	<div class="section-header-group">
		<div class="section-header">
			<div class="container">
				 <div class="row">
				  <div class="col-xs-3">
				  	<div class="custom-back-racing">
				  		<a  ng-click="goBack()" ><img src="images/buttons/a4.png" /></a>
				  	</div>
				  </div>
				  <div class="col-xs-6">
				  <div class="section-heading">
			          <h2>Next To Go</h2>
			      </div></div>
				  <div class="col-xs-3">
				  	<!-- <div class="custom-video-racing">
				  		<img src="images/buttons/a6.png" />
				  	</div> -->
				  </div>
				</div>
			</div>
		</div>
	      


	  </div>
	  <div class="custom-racing-page" ui-state="activeTab" default="1">
	   <div class="custom-horse">
	            
	              <div class="list-group custom-park">



	                  <div class="container list-group-item" ng-repeat="data in racingData" ui-sref="app.main.races.detail({id:data.id})" >
                        <div class="row">

                        	<div class="col-xs-3">
                        		<span>{{data.startTime | date:'hh:mm a'}}</span>
                        	</div>
                        	<div class="col-xs-5">
                        		<div class="custom-ellipsis">{{data.meeting.name}} R{{data.raceNumber}}  </div>
                        	</div>
                        	<div class="col-xs-4">
                        		<span>{{data | displaystatus}}</span>
                        		 <i class="fa fa-chevron-right pull-right"></i></a>
                        	</div> 
	                     
                        </div>



	   
	              </div>
	          </div>
	</div>


</div>	

