<div class="scrollable-content section racing-home-view racing-detail-page" ng-init="init()">
    <div class="section-header-group">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="custom-back-racing">
                            <a ng-click="goBack()"><img src="images/buttons/a4.png" /></a>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="racing-detil-section-heading">
                            <h2>{{raceDetails.race.venue}} Race {{raceDetails.race.raceNumber}}</h2>
                            <h5>{{raceDetails.race.title}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-race-detail-scroll">
        <div class="custom-scroll">
            <ul>
                <li class="btn" ng-repeat="item in list" ng-click="onSliderItemClick(item, list)" ng-class="{active: item.active}">{{item.key}}</li>
            </ul>
        </div>
    </div>
    <div class="custom-below-scroll">
        <div class="container">
            <div class="row custom-top-row">
                <div class="col-xs-6">
                    <p>{{raceDetails.race.startTime | date : 'hh:mm a'}}</p>
                </div>
                <div class="col-xs-6">
                    <p class="pull-right">{{raceDetails.race | displaystatus}}</p>
                </div>
            </div>
            <div class="row custom-bottom-row">
                <div class="col-xs-4 custom-col">
                    <p>Distance: <span ng-if="raceDetails.race.distance">{{raceDetails.race.distance}}m</span></p>
                </div>
                <div class="col-xs-4 custom-col">
                    <p>Weather: <span>{{raceDetails.race.weatherCondition}}</span></p>
                </div>
                <div class="col-xs-4 custom-col">
                    <p>Track: <span>{{raceDetails.race.trackCondition}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Not resulted detail page starts -->
    <!-- html for singles starts -->
    <div class="custom-racing-page " ui-state="activeTab" default="1" ng-hide="raceDetails.resulted">
        <ul class="nav nav-tabs">
            <li ui-class="{'active': activeTab == 1}" ng-click="onSinglesRightDropdownChange()">
                <a ui-set="{'activeTab': 1}">Singles<span>Win,Place,etc</span></a>
            </li>
            <li ui-class="{'active': activeTab == 2}">
                <a ng-class="{'click-disabled' : exoticsTabDisabled}" ui-set="{'activeTab': 2}">Exotics<span>Quinella,Trifecta,etc</span></a>
            </li>
        </ul>
        <div ui-if="activeTab == 1" class="custom-singles">
            <div class="list-group">
                <div class="custom-header-scroll">
                    <select ng-model="singlesDropdowns.leftSelectedSinglesMenuOption" ng-change="onSingesLeftDropdownChange()" class="form-control" ng-options="objLeft for objLeft in singlesDropdowns.leftSinglesMenuOptions">
                    </select>
                    <select ng-model="singlesDropdowns.rightSelectedSinglesMenuOption" ng-change="onSinglesRightDropdownChange()" class="form-control" ng-options="objRight for objRight in singlesDropdowns.rightSinglesMenuOptions">
                    </select>
                </div>
                <div class="custom-runner-group">
                    <div class="custom-below-runner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-8">
                                    <p>Runner</p>
                                </div>
                                <div class="col-xs-2">
                                    <p ng-repeat="pool in raceDetails.pools" ng-if="pool.type!='P'">{{pool.type | displaypooltype}}</p>
                                </div>
                                <div class="col-xs-2">
                                    <p>Place</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li ng-repeat="entrant in raceDetails.entrants">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <div class="custom-s-no">
                                                <span>{{entrant.rugNumber}}</span>
                                                <span class="custom-user-img"><img src="images/horse.jpg" /></span>
                                            </div>
                                            <div class="custom-name-group">
                                                <span>{{entrant.runnerName}}({{entrant.barrierPosition}})</span>
                                                <p>J: {{entrant.riderName}}<span>W: {{entrant.weightHandicap}}kg</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2 custom-col" >
                                        <p class="custom-data" ><span ng-repeat="pool in raceDetails.pools" ng-show="pool.type!='P'" ><span ng-click="addSingleBet(entrant, raceDetails, pool)">{{raceDetails.odds[pool.id][entrant.id].odds ? (raceDetails.odds[pool.id][entrant.id].odds/100).toFixed(2) : pool.type}}</span></span></p>
						           </div>
						    <div class="col-xs-2 custom-col">
						         <p class="custom-data"><span ng-repeat="pool in raceDetails.pools | filter:{'type':'P'}  : true"><span ng-click="addSingleBet(entrant, raceDetails, pool)">{{raceDetails.odds[pool.id][entrant.id].odds ? (raceDetails.odds[pool.id][entrant.id].odds/100).toFixed(2) : 'NA'}}</span></span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- html for singles ends -->
        <!-- html for Exotics starts -->


      <div ui-if="activeTab == 2" class="custom-Exotics-group" ng-disabled="true">  
        <uib-accordion close-others="true">
        <uib-accordion-group ng-repeat="data in raceDetails.exoticsMenu"  ng-click="exoticsMenuGroupclick($event)">
            <uib-accordion-heading>
          
            <h4 class="panel-title" ng-click="onExoticsMenuClick(data, $event)">{{data}}<i class="pull-right fa fa-chevron-down"></i></h4>
            
            </uib-accordion-heading >
            <div class="list-group">
                <div class="custom-section2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-8 custom-col">
                                <p>Runner<span>(Name)</span></p>
                            </div>
                            <div class="col-xs-4 custom-col">
                                <ul>
                                    <li>1st/<span>Boxed</span></li>
                                    <li>2nd</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="custom-exotics">
                    <ul>
                        <li ng-repeat="entrant in raceDetails.entrants" ng-init="entrantIndex = $index">
                            <div class="container">
                                <div class="row" ng-class="{scratched: entrant.scratched}">
                                    <div class="col-xs-8 custom-col">
                                        <div class="custom-first-col">
                                            <span>{{entrant.rugNumber}}</span>
                                            <div class="exotics-custom-name-group">
                                                <span>{{entrant.runnerName}}</span>
                                                <p>{{entrant.riderName}}</p>
                                            </div>
                                            <p class="custom-data" ng-repeat="pool in raceDetails.pools | filter:{'type':'W'}  : true">{{raceDetails.odds[pool.id][entrant.id].odds ? (raceDetails.odds[pool.id][entrant.id].odds/100).toFixed(2) : 'NA'}} </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 custom-col ">
                                        <input ng-repeat="item in exoticsCheckBoxCount" ng-model="chkModel" type="checkbox" value="item" ng-change="addExoticBets(entrant, raceDetails, $index, entrantIndex, chkModel, data)">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container custom-combo-col-group">
                <div class="row">
                    <div class="col-xs-8 custom-col">
                        <div class="custom-combo-col">
                            <p>Combintion: {{ExoticsCombos}}</p>
                            <p>Field</p>
                        </div>
                    </div>
                    <div class="col-xs-4 custom-col custom-combo-input">
                        <input type="checkbox" value="item" >
                        <input type="checkbox" value="item" >
                    </div>
                </div>
            </div>
             <div class="custom-exotics-button">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 custom-col">
                            <button class="btn btn-primary" ng-click="addExoticBetsToBetSlip()">Add To Bet Slip</button>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion-group>
        

    </uib-accordion>
</div>






    </div>
    <!-- html for Exotics end -->
    <!-- Not resulted detail page end -->
    <!-- Resulted detail page start -->
    <div ng-show="raceDetails.resulted">
        <uib-accordion close-others="true" class="custom-results-details-group">
            <uib-accordion-group ng-repeat="winner in raceDetails.winners | orderBy:'position'">
                <uib-accordion-heading>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-4">
                                <p class="custom-results-place">{{winner.position | displaywinnerposition}}</p>
                            </div>
                            <div class="col-xs-6">
                                <p>{{winner.rugNumber}}. {{winner.runnerName}}</p>
                            </div>
                            <div class="col-xs-2">
                                <i class="pull-right fa fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </uib-accordion-heading>
                <div class="list-group ">
                    <div class="container list-group-item custom-results-singles">
                        <div class="row">
                            <div class="col-xs-6">
                                <ul ng-repeat="(bookMarkerId, odds) in raceDetails.singles[winner.rugNumber] | groupBy: 'bookmakerId'">
                                    <li ng-repeat="odd in odds" ng-if="bookMarkerId=='TopSport'">
                                        
                                        <span class="custom-width">{{odd.poolType | displaypooltype}}<span class="pull-right">:</span></span><span>{{(odd.dividend/100).toFixed(2)}}</span>
                                   
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <ul ng-repeat="(bookMarkerId, odds) in raceDetails.singles[winner.rugNumber] | groupBy: 'bookmakerId'">
                                    <li ng-if="bookMarkerId!='TopSport'">
                                    <span class="custom-width">{{bookMarkerId | bookmarkerdisplay}}<span class="pull-right">:</span></span><span ng-repeat="odd in odds | pick : 'poolType==\'W\''">{{(odd.dividend/100).toFixed(2)}}/</span>
                                        <span ng-repeat="odd in odds | pick : 'poolType==\'P\''">{{(odd.dividend/100).toFixed(2)}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion-group>

            <uib-accordion-group>
                <uib-accordion-heading>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-4">
                                <p class="custom-results-place">Exotics</p>
                            </div>
                            <div class="col-xs-6">
                                <p></p>
                            </div>
                            <div class="col-xs-2">
                                <i class="pull-right fa fa-chevron-down"></i>
                            </div>
                        </div>
                    </div>
                </uib-accordion-heading>
                <div class="list-group custom-last-exotics">
                    <div class="container list-group-item">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul>
                                    <li ng-repeat="item in raceDetails.exotics">
                                    <span class="custom-width">{{item.poolType | displaypooltype }}<span class="pull-right">:</span></span><span>({{item.rugNumber1}},{{item.rugNumber2}}){{(item.dividend/100).toFixed(2)}}</span>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
    <!-- Resulted detail page end -->
</div>
