<ui-view name="race-body-content">
    <div class="scrollable-content section racing-home-view" ng-init="init()">
        <!-- racing home page -->
        <div class="section-header-group section-header">
            <div class="section-heading">
                <h2>RACING HOME</h2>
            </div>
        </div>
        <div class="custom-racing-page" ui-state="activeTab" default="1">
            <ul class="nav nav-tabs">
                <li ui-class="{'active': activeTab == 1}">
                    <a ui-set="{'activeTab': 1}">Horse</a>
                </li>
                <li ui-class="{'active': activeTab == 2}">
                    <a ui-set="{'activeTab': 2}">Harness</a>
                </li>
                <li ui-class="{'active': activeTab == 3}">
                    <a ui-set="{'activeTab': 3}">Greyhound</a>
                </li>
            </ul>
            <div ui-if="activeTab == 1" class="custom-horse">
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="horse in menuData.horse" ng-click="goToDetailView(horse.state, 'R')" ng-show="horse.value">{{horse.key}}
                      <i class="fa fa-chevron-right pull-right"></i></a>
                </div>
            </div>
            <div ui-if="activeTab == 2" class="custom-harness">
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="trot in menuData.trot" ng-click="goToDetailView(trot.state, 'T')" ng-show="trot.value">{{trot.key}}
                      <i class="fa fa-chevron-right pull-right"></i></a>
                </div>
            </div>
            <div ui-if="activeTab == 3" class="custom-Greyhound">
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="greyhound in menuData.greyhound" ng-click="goToDetailView(greyhound.state, 'G')" ng-show="greyhound.value">{{greyhound.key}} 
                      <i class="fa fa-chevron-right pull-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</ui-view>
