    <div class="container custom-singles-bet-group">
         <div class="row">
          <div class="col-xs-3 custom-padding">
            <div class="custom-back-racing">
                <a  ng-click="goBack()" ><img src="images/buttons/a4.png" /></a>
            </div>
          </div>
          <div class="col-xs-9 custom-col-padding">
                <div class="custom-singles-bet">
                    <p>Single Bet</p>
                </div>
          </div>
        </div>
    </div>
<div class="scrollable-content section custom-single-bet-detais" ng-init="init()">
      <div class="container">
           <div class="row">
              <div class="col-xs-12 custom-col-padding">
                  <p class="custom-single-head-details">1. Beetown Tommy(1)</p> 
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
            <div class="col-xs-12 custom-col-padding custom-single-details-group">
            <p>Price: Fixed Price @ {{singlebet.odds}}</p>
            <p>Market: Win or Place</p>
            <p>Bet Type: Single</p>
            <p>Leg Type: Win</p>
            <p>Track: {{singlebet.runnerName}} R{{singlebet.raceNumber}}</p>
            <p>Race: {{singlebet.runnerName}}</p>
            <p>Time: 13:20</p>
            <p>Date: 20/01/2016</p>
            <p>Max Bet: $61.00 </p>
            </div>
        </div>
      </div>
</div>




