<div class="scrollable-content section racing-home-view custom-today-racing" ng-init="init()">
    <div class="section-header-group">
        <div class="section-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="custom-back-racing">
                            <a  ng-click="goBack()">
                                <img src="images/buttons/a4.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="section-heading">
                            <h2>Today's Racing</h2>
                        </div>
                    </div>
                    <div class="col-xs-3">
                    <!--     <div class="custom-video-racing">
                            <img src="images/buttons/a6.png" />
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-racing-head-group">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="custom-racing-head"><img src="{{icon}}" /><span>{{pageTitle}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <uib-accordion close-others="true">
        <uib-accordion-group ng-repeat="data in racingData">
            <uib-accordion-heading>
                <h4 class="panel-title">
             {{data.name}}<i class="pull-right fa fa-chevron-down"></i>
          </h4>
            </uib-accordion-heading>
            <div class="list-group custom-park">
                <div class="container list-group-item" ng-repeat="item in data.races" ui-sref="app.main.races.detail({id:item.id})">
                    <div class="row">
                        <div class="col-xs-4">
                            <span>{{item | displaystatus}}</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="custom-ellipsis">R{{item.raceNumber}} {{item.title}} </div>
                        </div>
                        <div class="col-xs-2">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>
                   <div class="container list-group-item" ng-repeat="item in data.multiPools" ui-sref="app.main.races.detail({id:item.id})">
                    <div class="row">
                        <div class="col-xs-4">
                            <span>{{item | displaystatus}}</span>
                        </div>
                        <div class="col-xs-6">
                            <div class="custom-ellipsis">{{item.type | displaypooltype}} ({{item.raceNumbers.join(", ")}}) </div>
                        </div>
                        <div class="col-xs-2">
                            <i class="fa fa-chevron-right pull-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
