<div class="scrollable-content section forget-password-view">
    <div class="sub-header">
        Your Password?
    </div>
    <div class="content-wrapper">
        <p class="text-justify">Fill out the form below and reset password link will be automatically emailed to your registered email address. If you do not have any of the information required, please contact Pinnaclebet support at support@pinnaclebet.com.au</p>
        <form ng-submit="sendEmail()">
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" ng-model="info.username" class="text-field-one " required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" name="email" ng-model="info.email" class="text-field-one" required>
        </div>
        <button type="submit" class="btn btn-primary button-continue" ng-click="">
            Continue
        </button>
        </form>
    </div>
</div>
