<div content-for="modals" class="info-dialog">
    <div class="modal" ui-if="usernameModal" ui-state='usernameModal'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content custom-modal-popup">
                <div class="modal-header  popup-header">
                    <button class="close" ui-turn-off="usernameModal">&times;</button>
                    <h4 class="modal-title">Username</h4>
                </div>
                <div class="modal-body">
                    <p>Please enter a username that you can easily remeber.This must 6-14 characters long using letters, numbers and underscores only, with no spaces.
					 
					</p>
                </div>
            </div>
        </div>
    </div>
</div>
