<div content-for="modals" class="info-dialog">
    <div class="modal" ui-if="passwordModal" ui-state='passwordModal'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content custom-modal-popup">
                <div class="modal-header  popup-header">
                    <button class="close" ui-turn-off="passwordModal">&times;</button>
                    <h4 class="modal-title">Password</h4>
                </div>
                <div class="modal-body">
				      <p > 
					      Please enter a password.This must be 6-32 characters long using letters, numbers and accepted symbols only, with no spaces.Your password should not containyour username,name,email address or year of birth. You can increase the strength of your password by using a mixture of letters,number and symbols.Please remember that passwords are case sensitive.
					      The following symbols may be used as part of your password :!"#$%&'+-./:;<=>?_@[\]^`{|}~
					  </p>
				   </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
