<div content-for="modals" class="info-dialog">
    <div class="modal" ui-if="securityNumberModal" ui-state='securityNumberModal'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content custom-modal-popup" >
                <div class="modal-header  popup-header">
                    <button class="close" ui-turn-off="securityNumberModal">&times;</button>
                    <h4 class="modal-title">Security Number</h4>
                </div>
                <div class="modal-body">
                   <p>
				     Please enter a four digit security number that you can easily remember.This will be used as an additional means of identification should you need to contact us to discuss your account.
				    </p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

