<div class="scrollable-content section login-view">
<div class="form-group">
    <form action="" id="" ng-submit="doLogin()">
        <div bs-panel title="">
            <div class="form-group">
             <Label>
            Username
            </Label>
                <input bs-form-control type="text" ng-model="user.username" label="" class="text-field-one" placeholder="Username" required />
            </div>
            <div class="form-group">
            <Label>
            Password
            </Label>
                <input bs-form-control type="password" ng-model="user.password" label="" class="text-field-one" placeholder="Password" required />
            </div>
            <input type="checkbox" name="rememberme" ng-model="user.canRemember">Remember Me
            <button type="submit" id="btnSignIn" class="btn pull-right small-button-one" data-style="expand-right">
                Login
            </button>
        </div>
    </form>
    </div>
    <hr/>
    <div class="form-group">
    <button  class="btn button-three"  ui-sref='app.main.forgetPassword'>
        Forgotten login details
    </button>
    </div>
    <div class="form-group">
    <button  class="btn button-two" ui-sref='app.registration.step1'>
        Not a member? Join Now
    </button>
    </div>
</div>
