<div content-for="modals">
    <div class="modal" ui-if="loginModal" ui-state='loginModal'>
        <div class="modal-backdrop in"></div>
        <div class="modal-dialog">
            <div class="modal-content" style=" display: table; padding: 10px;">
                <div class="modal-header">
                    <button class="close" ui-turn-off="loginModal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body" ng-controller="LoginController">
                    <form action="" id="" ng-submit="doLogin()">
                        <div bs-panel title="">
                            <input bs-form-control type="text" ng-model="user.username" label="" label-class="col-xs-3 col-sm-2 col-lg-1" class="col-xs-12 col-sm-12 col-lg-12" placeholder="Username" />
                            <input bs-form-control type="password" ng-model="user.password" label="" label-class="col-xs-3 col-sm-2 col-lg-1" class="col-xs-12 col-sm-12 col-lg-12" placeholder="Password" />
                            <input type="checkbox" name="rememberme" ng-model="user.canRemember">Remember Me
                            <button type="submit" id="btnSignIn" class="btn btn-primary" data-style="expand-right">
                                Sign In
                            </button>
                        </div>
                    </form>
                    <button type="button" class="btn btn-primary col-xs-12 col-sm-12 col-lg-12" data-style="expand-right" ng-click="goToforgotDetailsPage()">
                        Forgotten login details
                    </button>
                    <button type="button" class="btn btn-primary col-xs-12 col-sm-12 col-lg-12" data-style="expand-right" ng-click="goToRegisterPage()">
                        Not a member? Join Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
