<div class="scrollable-content section profile-view" ng-init="init()">
    <div class="sub-header">
        <ul>
            <li><button type="button" class="btn btn-primary  small-btn pull-left" ng-click="goBack()">Back</button></li>
            <li><p> Profile </p></li>
            <li><button type="button" class="btn btn-primary  small-btn pull-right" ng-click="changeMode()">{{editMode ? 'View' : 'Edit'}}</button></li>
        </ul>
    </div>
    <div class="content-wrapper">
     
        <div class="form-group">
            <label>
             <span ng-if="editMode">*</span> Email Address
            </label>
            <input type="text" name="Email Address" ng-model="profileInfo.emailAddress" class="{{inputClass}}" ng-disabled="!editMode"  required >
        </div>
        <div class="form-group">
            <label>
              <span ng-if="editMode">*</span> Mobile Number
            </label>
            <input type="text" name="Mobile Number" ng-model="profileInfo.mobileNumber" class="{{inputClass}}" ng-disabled="!editMode"  required>
        </div>


        <div class="form-group">
            <label>
              Country Code
            </label>
            <input type="text" name="Country Code" ng-model="profileInfo.countryCode" class="{{inputClass}}" ng-disabled="!editMode"  required >
        </div>
        <div class="form-group">
            <label>
               Area Code
            </label>
            <input type="text" name="Area Code" ng-model="profileInfo.areaCode" class="{{inputClass}}" ng-disabled="!editMode"  required>
        </div>
        <div class="form-group">
            <label>
              Flat Number
            </label>
            <input type="text" name="Flat Number" ng-model="profileInfo.addressFlatNumber" class="{{inputClass}}" ng-disabled="!editMode"  required >
        </div>
        <div class="form-group">
            <label>
               <span ng-if="editMode">*</span> Street Number
            </label>
            <input type="text" name="Street Number" ng-model="profileInfo.addressStreetNumber" class="{{inputClass}}" ng-disabled="!editMode"  required>
        </div>
          <div class="form-group">
            <label>
              Street 
            </label>
            <input type="text" name="Street" ng-model="profileInfo.addressStreet" class="{{inputClass}}" ng-disabled="!editMode"  required >
        </div>
        <div class="form-group">
            <label>
              Street Type
            </label>
            <input type="text" name="Street Type" ng-model="profileInfo.addressStreetType" class="{{inputClass}}" ng-disabled="!editMode"  required >
        </div>
        <div class="form-group">
            <label>
              <span ng-if="editMode">*</span> Suburb
            </label>
            <input type="text" name="Suburb" ng-model="profileInfo.addressSuburb" class="{{inputClass}}" ng-disabled="!editMode"  required>
        </div>
        <div class="form-group">
            <label>
             <span ng-if="editMode">*</span> Post Code
            </label>
            <input type="text" name="Post Code" ng-model="profileInfo.addressPostcode" class="{{inputClass}}" ng-disabled="!editMode"  required >
        </div>
        <div class="form-group">
            <label>
              <span ng-if="editMode">*</span> State
            </label>
            <input type="text" name="State" ng-model="profileInfo.addressState" class="{{inputClass}}" ng-disabled="!editMode"  required>
        </div>

        <div class="form-group">
            <label>
                <span ng-if="editMode">*</span> Select Country
            </label>
            <select ng-model="profileInfo.country" ng-change="test()" class="selection-field-one" ng-options="country.name for country in countries track by country.name" required>
               
            </select>
        </div>
    
        <button type="button" class="btn btn-primary button-one" ng-click="updateProfile()" ng-show="editMode">
            Save
        </button>
       
    </div>
</div>
