<div class="scrollable-content section registration-view ">
    <div class="sub-header">
        <p> Presonal Details <span class="pull-right">2 of 5</span> </p>
    </div>
    <div class="content-wrapper">
        <p class="text-justify">Accourate personal information is required for the verification and security of your account. Please note for you to continue to use your account, we will need to successfully verify your identity.</p>
      
        <div class="form-group">
            <label>
                <span>*</span> Select Country
            </label>
            <select ng-model="userInfo.country" ng-change="test()" class="selection-field-one" ng-options="country.name for country in countries track by country.name" required>
              

            </select>
        </div>
        <button type="button" class="btn btn-primary button-one" ng-click="goToStep2()">
            Go to step 2
        </button>
    </div>
</div>
s