<div class="scrollable-content section registration-view">
    <div class="sub-header">
        <p> Presonal Details <span class="pull-right">2 of 5</span> </p>
    </div>
    <div class="content-wrapper">
    
        <div class="form-group">
            <label>
                Title
            </label>
            <select class="selection-field-one select-option">
                <option value="" selected="selected" disabled="disabled">Select</option>
                <option value="mr">Mr.</option>
                <option value="mrs">Mrs.</option>
                <option value="ms">Ms.</option>
                <option value="ms">Miss.</option>
                <option value="dr">Dr.</option>
            </select>
        </div>
        <div class="form-group">
            <label>
               <span>*</span> First Name
            </label>
            <input type="text" replace="[^a-zA-Z]" with="" name="firstname" ng-model="userInfo.firstName" class="text-field-one" placeholder="Type Here..." required />
        </div>
        <div class="form-group">
            <label>
               <span>*</span>  Surname
            </label>
            <input type="text" replace="[^a-zA-Z]" with="" name="lastname" ng-model="userInfo.lastName" class="text-field-one" placeholder="Type Here..." required />
        </div>
        <div class="form-group">
            <label>
                <span>*</span> Date Of Birth
            </label>
            <input type="date"  name="bday" ng-model="userInfo.dob" size="100px" class="date-picker"  required />
        </div>
        <button type="button" class="btn btn-primary  button-one" ng-click="goToStep3()">
            Go to step 3
        </button>
    </div>
</div>
