<div class="scrollable-content section registration-view ">
    <div class="sub-header">
        <p> Contact Details <span style="float:right">4 of 5</span> </p>
    </div>
    <div class="content-wrapper">
        <div class="form-group">
            <label>
                <span>*</span> Email Address
            </label>
            <input type="text" name="email" ng-model="userInfo.email" class="text-field-one" placeholder="Type Here" ng-blur="checkEmail()" required>
        </div>
        
        <div class="form-group">
            <label>
                <span>*</span> Confirm Email Address
            </label>
            <input type="text" ng-model="validateInfo.confirmEmail" name="confirm_email" class="text-field-one" placeholder="Type Here" required>
        </div>
        <div class="form-group">
            <label>
                 <span>*</span> Mobile Number
            </label>
            <div class="phone-input">
                <input type="text" name="dialing_code" class="left-text-input text-field-one" value="+{{userInfo.country.dialingCode}}" readonly="true">
                <input type="text" name="mobile" ng-model="userInfo.mobileNumber" class="right-text-input text-field-one" placeholder="" ng-blur="checkMobile()" required>
            </div>
        </div>

        <div class="form-group">
            <label>
                Contact Number
            </label>
            <div class="phone-input">
                <input type="text" name="dialing_code" class="left-text-input text-field-one" value="+{{userInfo.country.dialingCode}}" readonly="true">
                <input type="text" name="phone" ng-model="userInfo.phoneNumber" class="right-text-input text-field-one" placeholder="">
            </div>
        </div>

       

        <button type="button" class="btn btn-primary col-xs-12 col-sm-12 col-lg-12 button-one" ng-click="goToStep5()">
            Go to Step 5
        </button>
    </div>
</div>
