<div class="scrollable-content section registration-view">
    <div class="sub-header">
        <p><span >Address Details</span><span class="pull-right">3 of 5</span></p>
    </div>
    <div class="content-wrapper">
        <div class="form-group">
            <label>
                <span>*</span> Street or House Number
            </label>
            <input type="text" name="house_number" ng-model="userInfo.addressStreetNumber" class="text-field-one" placeholder="Type Here..."></input>
        </div>
        <div class="form-group">
            <label>
                Unit/Apt. Number
            </label>
            <input type="text" name="unit_number" ng-model="userInfo.addressFlatNumber" class="text-field-one" placeholder="Type Here..."></input>
        </div>



        <div class="form-group">
            <label>
                <span>*</span> Street Name
            </label>
            <input type="text" name="street_name" ng-model="userInfo.addressStreet" class="text-field-one" placeholder="Type Here..." required></input>
        </div>
        <div class="form-group">
            <label>
                <span>*</span> Suburb
            </label>
            <input type="text" name="suburb" ng-model="userInfo.addressSuburb" class="text-field-one" placeholder="Type Here..." required></input>
        </div>
        <div class="form-group">
            <label>
                <span>*</span> State
            </label>
            <input type="text" name="state" ng-model="userInfo.addressState" class="text-field-one" placeholder="Type Here..." required></input>
        </div>
        <div class="form-group">
            <label>
                <span>*</span> Post Code
            </label>
            <input type="text" replace="[^0-9]" with="" name="post_code" ng-model="userInfo.addressPostcode" class="text-field-one" placeholder="Ex:(1234)" required ></input>
        </div>
        <button type="button" class="btn btn-primary  button-one" ng-click="goToStep4()">
            Find Address
        </button>
    </div>
</div>
