<div class="scrollable-content section registration-view ">
    <div class="sub-header">
        <p> Account Details <span style="float:right">5 of 5</span> </p>
    </div>
    <div class="content-wrapper">
        <div class="form-group">
            <label>
                <span>*</span> Create Your Username
            </label>
            <div class="text-field">
                <input type="text" name="username" class="text-field-one input-field" ng-model="userInfo.userName" placeholder="Type Here" ng-blur="checkUsername()" required>
                <div class="pull-right icon-set">
                    <button class="button-field" data-toggle="modal" ui-turn-on="usernameModal"></button>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label>
                <span>*</span> Create Your Passowrd
            </label>
            <div class="text-field">
                <input type="password" name="password" ng-model="userInfo.password" class="text-field-one input-field" placeholder="Type Here" required/>
                <div class="pull-right icon-set">
                    <button class="button-field" data-toggle="modal" ui-turn-on="passwordModal"></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>*</span> Confirm Passowrd
            </label>
            <input type="password" class="text-field-one" name="confirm_password" ng-model="validateInfo.confirmPassword" placeholder="Type Here" required/>
        </div>
        <br/>
        <div class="form-group">
            <label>
                <span>*</span> Create a 4 digit Security Number
            </label>
            <div class="text-field">
                <input type="text"  replace="[^0-9]" with="" name="security_pin" class="text-field-one input-field" ng-model="userInfo.pin" placeholder="Type Here" maxlength="4" required>
                <div class="pull-right icon-set">
                    <button class="button-field" data-toggle="modal" ui-turn-on="securityNumberModal"></button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>*</span> Confirm 4 Digit Security Number
            </label>
            <input type="text"  replace="[^0-9]" with="" name="confirm_security_pin" ng-model="validateInfo.confirmPin" class="text-field-one"placeholder="Type Here" maxlength="4" required>
        </div>
        <hr>
        <div class="form-group">
            <label>
                Bonus Code
            </label>
            <input type="text" name="bonus_code" class="text-field-one input-field" ng-model="userInfo.affiliateCode" placeholder="Type Here">
        </div>
        <div class="declaration">
            <input type="checkbox" name="declaration_one" ng-model="validateInfo.declarationOne"> I would like to receive information about offers and promotions on Pinnaclebet products
        </div>
        <div class="declaration">
            <input type="checkbox" name="declaration_two" ng-model="validateInfo.declarationTwo"> I am at least 18 years of age and I have read accept and agree to the Terms and Conditions Rules. Privacy Policy, Cookie Policy, Open Account Offer and cookies releasing to age of verification and KYC (Know Your Customer) as published on wwww.pinnaclebet.com.au
        </div>
        <br/>
        <button type="button" class="btn btn-primary col-xs-12 col-sm-12 col-lg-12 button-one" ng-click="register()">
            Join Now
        </button>
    </div>
</div>
