<div class="app registration-main" ng-init="init()">
    <!-- Header -->
    <div class="navbar navbar-app navbar-absolute-top app-header">
        <div class="navbar-brand navbar-brand-center title" ui-yield-to="title">
            Open Account
        </div>
        <div class="btn-group pull-left">
            <div class="btn back-button" ng-click="goBack()">
            </div>
        </div>
        <div class="btn-group pull-right">
            <div class="btn cancel-button" ui-sref='app.main.home'>
            </div>
        </div>
    </div>
    <!-- Page Body -->
    <div class="app-body">
        <div class="app-content">
            <ui-view name="body-content"></ui-view>
        </div>
    </div>
</div>
