<div class="scrollable-content section forget-password-view">
    <div class="sub-header">
       Reset Password
    </div>
    <div class="content-wrapper">
      
        <form ng-submit="sendEmail()">
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" ng-model="info.password" class="text-field-one " required>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="confirm-password" ng-model="info.confirmPassword" class="text-field-one" required>
        </div>
        <button type="Reset Password" class="btn btn-primary button-continue" ng-click="resetPassword()">
            Continue
        </button>
        </form>
    </div>
</div>

