<div class="scrollable-content section custom-home-page">
    <div class="head-line-events ng-scope custom-top-swip">
        <div class="swiper-slide event-thumbs" ng-repeat="data in homeMenu">
            <a ui-sref="{{data.state ? data.state : false}}">
                <div class="custom-game-icon">
                   <img ng-src="{{data.value}}"/>
                </div>
            </a>
        </div>
    </div>
    <div class="custom-home-banner">
        <div class="custom-banner-logo">
            <img src="images/home-banner.png">
        </div> 
        <div class="custom-banner-downarrow">
            <uib-accordion close-others="true">
                <uib-accordion-group>
                    <uib-accordion-heading>
                        <h4></h4>
                    </uib-accordion-heading>
                    <div class="list-group custom-park">
                        <div class="container list-group-item">
                            <div class="row">
                                <div class="col-xs-4">
                                    <span>1</span>
                                </div>
                                <div class="col-xs-6">
                                    <div class="custom-ellipsis">2 </div>
                                </div>
                                <div class="col-xs-2">
                                    <i class="fa fa-chevron-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                           <div class="container list-group-item">
                            <div class="row">
                                <div class="col-xs-4">
                                    <span>1</span>
                                </div>
                                <div class="col-xs-6">
                                    <div class="custom-ellipsis">2</div>
                                </div>
                                <div class="col-xs-2">
                                    <i class="fa fa-chevron-right pull-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
    <!------- start  next to jump modules -->
    <div class="head-line-events custom-next-jump-swip">
        <div class="custom-jump-heading"> 
            <p>Next To Jump</p>
        </div>
            <div class="custom-home-bets-group">
                <div class="swiper-slide event-thumbs" ng-repeat="race in nextToJumpRaces.races">
                    <a ui-sref="app.main.races.detail({id:race.id})">
                        <div class="custom-each-jump">  
                            <p class="custom-jump-name">
                                <span>{{nextToJumpRaces.meetings[race.meetingId].name}}</span>
                                 <span>Race {{race.raceNumber}}</span>
                            </p>
                            <p class="custom-jump-time">
                                <span><img src="images/orangeicons/greyhound.png"></span>
                                 <span>{{race.startTime | date:'hh:mm a'}}</span>
                            </p>
                            
                        </div>
                    </a>
                </div>
            </div>
        <div class="custom-jump-win"> 
            <p>Oaks Meagbet: Scared Eye vs New Zealand,$4.50</p>
        </div>
    </div>
    <!-------end  next to jump modules -->
     <!------- start  upcoming sport modules -->
    <div class="head-line-events custom-next-jump-swip" loading-bar="">
                <div class="custom-jump-heading"> 
                    <p>Upcoming sport</p>
                </div>
                <div class="custom-home-bets-group">
                <div class="swiper-slide event-thumbs" ng-repeat="race in nextToJumpRaces.races">
                    <a ui-sref="app.main.races.detail({id:race.id})">
                        <div class="custom-each-jump">  
                            <p class="custom-jump-name">
                                <span>{{nextToJumpRaces.meetings[race.meetingId].name}}</span>
                                 <span>Race {{race.raceNumber}}</span>
                            </p>
                            <p class="custom-jump-time">
                                <span><img src="images/orangeicons/greyhound.png"></span>
                                 <span>{{race.startTime | date:'hh:mm a'}}</span>
                            </p>
                            
                        </div>
                    </a>
                </div>
            </div>
            <div class="custom-jump-win"> 
                <p>Cricket:Australia vs New Zealand</p>
            </div>
    </div>
    <!-------end  upcoming sport modules -->
     <!------- start bet slip modules -->
    <div class="head-line-events custom-next-jump-swip" loading-bar="">
                <div class="custom-jump-heading"> 
                    <p>Bet Slip</p>
                </div>
                <div class="custom-home-bets-group">
                <div class="swiper-slide event-thumbs" ng-repeat="race in nextToJumpRaces.races">
                    <a ui-sref="app.main.races.detail({id:race.id})">
                        <div class="custom-each-jump">  
                            <p class="custom-jump-name">
                                <span>{{nextToJumpRaces.meetings[race.meetingId].name}}</span>
                                 <span>Race {{race.raceNumber}}</span>
                            </p>
                            <p class="custom-jump-time">
                                <span><img src="images/orangeicons/greyhound.png"></span>
                                 <span>{{race.startTime | date:'hh:mm a'}}</span>
                            </p>
                            
                        </div>
                    </a>
                </div>
            </div>
            <div class="custom-jump-win"> 
                <p>Cricket:Australia vs New Zealand</p>
            </div>
    </div>
    <div class="container"> 
        <div class="row">
            <img src="images/buttons/footer.png">
        </div>
    </div>
    <!-------end  Bet live modules -->
</div>
<!-- <div class="scrollable-content section custom-home-page">
<div class="head-line-events ng-scope custom-top-swip" loading-bar="">
    <div style="height: 100%;">
        <div class="ajax_loading" id="loading" style="display: none;">
            <table width="100%" height="100%">
                <tbody>
                    <tr>
                        <td valign="middle" align="center">
                            <div class="progress progress-striped active">
                                <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="content" style="display: block;">
          
                <div horizontal-swiper="" class="swiper-container head-line-events active ng-scope">
                    <div swiper="swiper" home-events-swiper-elements="" class="swiper-wrapper event-swiper ng-isolate-scope" style="padding-left: 0px; padding-right: 0px; width: 1680px; height: 70px; transition-duration: 0.3s; transform: translate3d(0px, 0px, 0px);">
                        <div class="swiper-slide event-thumbs" ng-repeat="data in homeMenu">
                            <a ui-sref="{{data.state}}">
                                <div>
                                    <div class="icon HORSE_RACING"><img ng-src="{{data.value}}"/></div>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
</div>

</div> -->