<div class="custom-menu-modals-group">
   <div class="custom-mega-menu">
              <div class="custom-user">
                <p>Hi {{loggedInUserDetail.details.firstName}} ({{loggedInUserDetail.id}})</p>
              </div>
              <div class="custom-menu">
                <ul>
                  <li  class="btn" ng-click="ok()" ui-sref="app.main.profile">My Account</li>
                  <li class="btn" ng-click="ok()">Pending Bets</li>
                  <li class="btn" ng-click="ok()">Deposite/Withdraw</li>
                  <li class="btn" ng-click="ok()">Bet History</li>
                   <li class="btn" ng-click="logout()">Logout</li>
                </ul>
               
              </div>
      </div>  
  </div>




