<div class="navbar navbar-app navbar-absolute-bottom app-footer custom-footer-group">
    <div class="custom-footer">
        <a class="custom-footer-home" ui-sref='app.main.home'>Home</a>
        <a class="custom-footer-racing" ui-sref='app.main.races'>Racing</a>
        <a class="custom-footer-sports">Sports</a>
        <a class="custom-footer-livebet">Live Bet</a>
        <a class="custom-footer-more">More</a>
    </div>
</div>
