<div class="navbar navbar-app navbar-absolute-top app-header custom-header-group">
  <div class="container">
        <div class="row">
          <div class="col-xs-3 custom-padding">
            <div class="betslip" >
                  <a class="custom-bet-img" ui-sref='app.main.betslip'><img src="images/buttons/betslip.png" alt="Betslip"><span ng-if="bets>0">{{bets}}</span></a>
            </div>

          </div>

          <div class="col-xs-5 custom-padding">
            <div class="custom-pinnacle-logo" ui-yield-to="title"><img src="images/logo.png" alt="Pinnacle Bet"></div>
          </div>


          <div class="col-xs-4 custom-padding">
            <div class="btn-group pull-right custom-right-section" ui-yield-to="navbarAction" ng-hide="isLoggedin">
              <div  class="btn custom-login" ui-sref='app.main.login'>login
             <!--  <i class="fa fa-comment"></i> --> 
              </div>
            </div>

            <div class="btn-group pull-right custom-right-section" ui-yield-to="navbarAction" ng-show="isLoggedin">
       
        <!--
            <div  class="btn custom-logout" ui-sref='app.main.profile'>
             <i class="fa fa-comment"></i>  Profile
            </div>
            <div  class="btn custom-logout" ng-click="logout()">
           <i class="fa fa-comment"></i> Logout
            </div>
        -->
              <div  class="btn custom-profile" ng-click="open()"><span class="custom-ellipsis">$ {{loggedInUserDetail.wallet.availableFunds}}</span>
              </div> 

         
            <!--   <div ui-toggle="uiSidebarRight" class="btn"  data-toggle="modal" ui-turn-on="loginModal" >
            <i class="fa fa-comment"></i>  Login
            </div>  -->
          </div>

        </div>
      </div>
  </div>
</div>   

<div class="section-header-orange">
</div>


