<!-- <div ng-include="'components/common/templates/sidebar.html'" ui-track-as-search-param='true' class="sidebar sidebar-left" ></div> -->
<div class="app" ng-init="init()">
    <div ng-include="'components/common/templates/header.html'"></div>
     <div class="app-body">
        <div class="app-content">
          <ui-view name="body-content"></ui-view>
        </div>
      </div>
    
    <div ng-include="'components/common/templates/footer.html'"></div>
</div>
