<!-- <div class="scrollable app-sidebar">  
  <div class="scrollable-content">
    <div class="list-group custom-list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item custom-horse" href="#/"><img src="images/leftsidebar/horse.png" alt="Horse Racing" />Horse Racing</a>
      <a class="list-group-item custom-grey" href="#/"><img src="images/leftsidebar/hound.png" alt="greyhound" />Greyhound</a>
      <a class="list-group-item custom-trot" href="#/"><img src="images/leftsidebar/harneshorse.png" alt="trot" />Trot</a>
      <a class="list-group-item custom-basket" href="#/"><img src="images/leftsidebar/basketball.png" alt="basketball" />BASKETBALL</a>
      <a class="list-group-item custom-base" href="#/"><img src="images/leftsidebar/baseball.png" alt="baseball" />BASEBALL</a>
      <a class="list-group-item custom-soccer" href="#/"><img src="images/leftsidebar/soccer.png" alt="soccer" />SOCCER</a>
      <a class="list-group-item custom-horse" href="#/"><img src="images/leftsidebar/tennis.png" alt="tennis" />Horse Racing</a>
      <a class="list-group-item custom-grey" href="#/"><img src="images/leftsidebar/gridiron.png" alt="gridiron" />Greyhound</a>
      <a class="list-group-item custom-trot" href="#/"><img src="images/leftsidebar/boxing.png" alt="boxing" />Trot</a>
      <a class="list-group-item custom-basket" href="#/"><img src="images/leftsidebar/cricket.png" alt="cricket" />BASKETBALL</a>
      <a class="list-group-item custom-base" href="#/"><img src="images/leftsidebar/golf.png" alt="golf" />BASEBALL</a>
      <a class="list-group-item custom-soccer" href="#/"><img src="images/leftsidebar/ice_hockey.png" alt="ice_hockey" />SOCCER</a>
      <a class="list-group-item custom-soccer" href="#/"><img src="images/leftsidebar/mixed_martial_arts.png" alt="mixed_martial_arts" />SOCCER</a>
    </div>
  </div>
</div>-->
